<% include ../partials/header %>

<div class="container">
    <h1>Blog</h1>
    <div class="index">
        <table id="table">
            <tr class="header">
                <th align="left" class="header">
                    Date
                </th>
                <th align="left" class="header">
                    Post
                </th>
            </tr>
            <% if(blogs) { %>
            <% blogs.forEach(function(post){ %>
                <tr class="post">
                    <td class="post-date">
                        <%= moment(post.created).format("MMM DD, YYYY"); %>
                    </td>
                    <td class="post-title">
                        <a href="/blog/<%= post._id %>"><%= post.title %></a>
                    </td>
                </tr>
            <% }); %>
            <% } %>

        </table>
        <div id="blog-index-page-number">
            Page
            <% for(var i = 1; i < pageNums + 1; i++){ %>
                <a onClick="clickPageNumber(this); event.preventDefault();" class="page-number" href="#" data-value="<%= i %>"><%= i %></a>
            <% } %>
        </div>
        <div>
            <% if(currentUser) { %>
                <button>
                    <a href="/blog/new">New Post</a>
                </button>
            <% } %>
        </div>
    </div>
</div>

<script>
    var selectEveryPost = document.getElementsByClassName("post");
    var selectPageNumbers = document.getElementsByClassName("page-number");
    for(i=10;i<selectEveryPost.length;i++){
        selectEveryPost[i].classList.add("hide");
    }
    selectPageNumbers[0].classList.add("current-page");
    
    function clickPageNumber(selectedPage) {
        for(i=0;i<selectPageNumbers.length;i++) {
            selectPageNumbers[i].classList.remove("current-page");
        }
        selectedPage.classList.add("current-page");
        var pageNumber = selectedPage.getAttribute("data-value");
        pageNumberToBlogRange(pageNumber);
    }
    
    function pageNumberToBlogRange(pageNumber) {
        var start = pageNumber*10 - 10;
        var end = (pageNumber*10 + 9) - 10;
        changePage(start,end);
    } 
    
    function changePage(start, end) {
        for(i=0;i<selectEveryPost.length;i++){
            selectEveryPost[i] && selectEveryPost[i].classList.add("hide");
        }
        for(var i=start; i<end+1; i++) {
            selectEveryPost[i] && selectEveryPost[i].classList.remove("hide");
        };
    };
</script>

<% include ../partials/footer %>