<% include ../partials/header %>

<div class="container">
    <h1>Blog</h1>
    <div class="index">
        <table id="table">
            <% if(blogs) { %>
            <% blogs.forEach(function(post){ %>
                <tr>
                    <td class="post-date">
                        <%= moment(post.created).format("MMM DD, YYYY"); %>
                    </td>
                    <td class="post-title">
                        <a href="/blog/<%= post._id %>"><%= post.title %></a>
                    </td>
                </tr>
            <% }); %>
            <% } %>

        </table>
        <div id="blog-index-page-number">
            Page
            <% for(var i = 1; i < pageNums + 1; i++){ %>
                <a href="/blog/page/<%= i %>"><%= i %></a>
            <% } %>
        </div>
        <div>
            <% if(currentUser) { %>
                <button>
                    <a href="/blog/new">New Post</a>
                </button>
            <% } %>
        </div>
    </div>
</div>

<% include ../partials/footer %>